@font-face {
	font-family: 'photo-frame';
	src: url("../font/photo-frame.eot");
	src: url("../font/photo-frame.eot?#iefix") format('embedded-opentype'), url("../font/photo-frame.woff") format('woff'), url("../font/photo-frame.ttf") format('truetype'), url("../font/photo-frame.svg#photo-frame") format('svg');
	font-weight: normal;
	font-style: normal;
}

.photo-frame-icons [class^="icon-"]:before,  
.photo-frame-icons [class*=" icon-"]:before {
	font-family: 'photo-frame';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
}

.photo-frame-icons .icon-info:before {
	content: '\2139';
} /* 'ℹ' */
.photo-frame-icons .icon-save:before {
	content: '\2611';
} /* '☑' */
.photo-frame-icons .icon-edit:before {
	content: '\270d';
} /* '✍' */
.photo-frame-icons .icon-cancel:before {
	content: '\2715';
} /* '✕' */
.photo-frame-icons .icon-warning-sign:before {
	 content: '\26a0';
} /* '❗' */
.photo-frame-icons .icon-rotate:before {
	content: '\27f2';
} /* '⟲' */
.photo-frame-icons .icon-trash:before {
	content: '\e801';
} /* '' */
.photo-frame-icons .icon-resize:before {
	content: '\e744';
} /* '' */
.photo-frame-icons .icon-upload:before {
	content: '\e800';
} /* '' */
.photo-frame-icons .icon-search:before {
	content: '\1f50d';
} /* '' */

.photo-frame-photo-frame-dimmer .photo-frame-dimmer img,
.photo-frame-wrapper .photo-frame-dimmer img {
	max-width: none;
}

.photo-frame-drop-text { display: none; }

.photo-frame-dragging .photo-frame-drop-text { 
	text-align: center;
	font-size: 24px;
	display: inline-block;
	z-index: 1;
}

.photo-frame-dragging .photo-frame-drop-zone {
	border: 5px dashed rgb(105, 105, 105);
	top: 0;
	left: 0;
	width: 100%;
	min-height: 150px;
	height: 100%;
	background: rgb(236, 241, 244);
	position: absolute;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.photo-frame-dragging .photo-frame-drop-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.photo-frame-dragging .photo-frame-button { visibility: hidden; }

.photo-frame-progress-wrapper {
	width: 400px;
	height: 28px;
	position: relative;
	display: none;
}

.photo-frame-progress {
	position: relative;
	border: 3px solid rgb(220, 220, 220);
	border-radius: 1000px;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.photo-frame-progress-fill {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: rgb(220, 220, 220);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}

.photo-frame-progress-cancel,
a.photo-frame-progress-cancel {
	background: rgb(220, 220, 220);
	border-radius: 1000px;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	color: rgb(63, 62, 62);
	padding: 6px 9px 6px 9px;
	position: absolute;
	right: -35px;
	font-size: 15px;
	line-height: 16px;
	text-decoration: none;
}

.photo-frame-invalid {
	color: rgb(238, 57, 45);
	font-weight: bold;
}
.photo-frame-form {
	display: none;
	position: fixed;
	width: 90%;
	max-width: 300px;
	padding: 1em;
	z-index: 2000;
	background: white;
}
.photo-frame-margin-top {
	margin-top: 1em;
	display: inline-block;
}
.photo-frame-panel {
	position: fixed;
	top: 0;
	width: 450px;
	right: 0;
	z-index: 1100;
}
.photo-frame-meta {
	position: fixed;
	left: 50%;
	top: 50%;
	background: white 0 0 repeat;
	border: 1px solid white;
	display: none;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .7);
	box-shadow: 0 0 20px rgba(0, 0, 0, .7);
	z-index: 1200;
}
.photo-frame-meta h3 {
	margin: 10px 10px 0;
}
.photo-frame-meta * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.photo-frame-meta label {
	margin-bottom: 5px;
	display: block;
}
.photo-frame-meta input, .photo-frame-meta textarea {
	width: 100%;
	padding: .5em;
	background: white;
	min-width: 350px;
	border: 1px solid rgb(214, 214, 214); /* added by Brent */
	-moz-border-radius: 4px;  /* added by Brent */
	-webkit-border-radius: 4px; /* added by Brent */
	border-radius: 4px; /* added by Brent */
}
.photo-frame-meta ul {
	padding: 1em;
}
.photo-frame-meta li {
	margin-bottom: 1em;
	list-style: none;
}
.photo-frame-message {
	background: white;
	font-size: 16px;
	margin: 1em 1.5em 1em 1em;
	right: -500px;
	width: 420px;
	position: relative;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ffffff 0%, #e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ffffff 0%, #e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ffffff 0%, #e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to right, #ffffff 0%, #e0e0e0 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=1 ); /* IE6-9 */
	padding: 1em;
	border: 1px solid white;
	border-bottom-color: rgb(189, 189, 189);
	-moz-box-shadow: 0 0 20px rgb(0, 0, 0);
	-webkit-box-shadow: 0 0 20px rgb(0, 0, 0);
	box-shadow: 0 0 20px rgb(0, 0, 0);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.photo-frame-message p {
	line-height: 16px;
}
.photo-frame-message .icon-warning-sign {
	font-size: 1.5em;
	margin-right: .5em;
	position: relative;
	top: 3px;
	color: rgb(247, 160, 45);
}
.photo-frame-message .photo-frame-close {
	position: absolute;
	line-height: 14px;
	top: 5px;
	right: 5px;
	text-decoration: none;
}
.photo-frame-info-panel {
	display: none;
	position: fixed;
	top: 1em;
	left: 1em;
	width: auto;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ffffff 0%, #e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ffffff 0%, #e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ffffff 0%, #e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to right, #ffffff 0%, #e0e0e0 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=1 ); /* IE6-9 */
	padding: 1em 1em .5em;
	border: 1px solid white;
	border-bottom-color: rgb(189, 189, 189);
	-moz-box-shadow: 0 0 20px rgb(0, 0, 0);
	-webkit-box-shadow: 0 0 20px rgb(0, 0, 0);
	box-shadow: 0 0 20px rgb(0, 0, 0);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	z-index: 1100;
	min-width: 240px;
}
.photo-frame-info-panel label {
	margin: 0;
}
.photo-frame-info-panel.ui-draggable {
	cursor: move;
}
.photo-frame-info-panel .photo-frame-close,  .photo-frame-info-panel .photo-frame-close:hover,  .photo-frame-close-meta {
	position: absolute;
	top: 5px;
	right: 5px;
	text-decoration: none;
}
.photo-frame-info-panel p {
	line-height: 1em;
	margin: 0;
}
.photo-frame-info-panel .size {
	font-size: 16px;
}
.photo-frame-info-panel .coords {
	font-size: 1.1em;
	margin-top: .5em;
}
.photo-frame-info-panel .coords p {
	margin-bottom: 5px;
}
.photo-frame-info-panel .coords b {
	display: inline-block;
	width: 20px;
}
.photo-frame-info-panel .coords span {
	margin-right: 1em;
}
.photo-frame-info-panel .size .width {
	margin-right: .5em;
}
.photo-frame-info-panel .aspect {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: 12px;
}
.photo-frame-info-panel .coords label {
	width: 80px;
	display: inline-block;
}
.photo-frame-button:focus {
	-webkit-box-shadow: 0 0 4px #78c0a8, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 0 4px #78c0a8, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 0 4px #78c0a8, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	color: white;
}

.photo-frame-dimmer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(120, 120, 120);
	background: rgba(0, 0, 0, .75);
	z-index: 1000;
	display: none;
	margin: 0;
}

.photo-frame-activity {
	margin: 33% auto;
	width: 140px;
	font-size: 24px;
	color: rgb(215, 215, 215);
	/* text-shadow: 0 1px 0 black; */

	display: none;
}
.photo-frame-activity p {
	display: none
} /* Added by Brent */
.photo-frame-activity .photo-frame-button.photo-frame-cancel {
}
.photo-frame-activity .photo-frame-indicator {
	left: -15px;
	top: -35px;
	position: relative;
}
.photo-frame-indicator div {
	margin-left: 35px!important;
} /* Added by Brent */
.photo-frame-errors .photo-frame-cancel,  .photo-frame-errors .photo-frame-cancel:hover {
	margin-top: 1em;
	position: relative;
	right: 1em;
	text-shadow: none;
}
.photo-frame-errors {
	margin: 0;
	width: 36%;
	min-width: 300px;
	display: none;
	word-wrap: break-word;
}
.photo-frame-errors h3 {
	font-size: 30px;
	color: rgb(215, 213, 123);
	text-shadow: 0 1px 0 black;
	position: relative;
	right: 15px;
	margin-bottom: .5em;
}
.photo-frame-errors ul {
	margin-top: 1em;
	margin-left: 0;
}
.photo-frame-errors li {
	font-size: 18px;
	list-style-type: disc;
	color: rgb(215, 215, 215);
	text-shadow: 0 1px 0 black;
	margin-bottom: .5em;
}
.photo-frame-crop {
	display: inline-block;
	display: none;
}
.photo-frame-crop-photo {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .7);
	box-shadow: 0 0 20px rgba(0, 0, 0, .7);
	z-index: 100;
}

.photo-frame-crop-photo img {
	max-width: none;
	width: 100%;
	display: block;
}


.photo-frame-placeholder {
	display: none;
}
.photo-frame-toolbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: .5em;
	background: rgb(45,45,45);
	background: -moz-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(15,15,15,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(45,45,45,1)), color-stop(100%, rgba(15,15,15,1)));
	background: -webkit-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(15,15,15,1) 100%);
	background: -o-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(15,15,15,1) 100%);
	background: -ms-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(15,15,15,1) 100%);
	background: linear-gradient(to bottom, rgba(45,45,45,1) 0%, rgba(15,15,15,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#0f0f0f', GradientType=0 );
	border-top: 1px solid rgb(108, 108, 108);
	z-index: 1500;
}
	.photo-frame-bar-button, .photo-frame-bar-button:hover {
	background: rgb(0,153,255);
	background: -moz-linear-gradient(top,  rgba(0,153,255,1) 0%, rgba(0,76,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,153,255,1)), color-stop(100%,rgba(0,76,255,1)));
	background: -webkit-linear-gradient(top,  rgba(0,153,255,1) 0%,rgba(0,76,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,153,255,1) 0%,rgba(0,76,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,153,255,1) 0%,rgba(0,76,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,153,255,1) 0%,rgba(0,76,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099ff', endColorstr='#004cff',GradientType=0 );
	border: 1px solid rgb(0, 65, 192);
	border-top-color: rgb(111, 197, 253);
	padding: 9px 13px;
	color: white;
	text-shadow: 0 1px 0 rgb(0, 25, 77);
	margin: .5em;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}
a.photo-frame-bar-button.photo-frame-save.photo-frame-float-right {
	margin-right: 40%
}
a.photo-frame-bar-button.photo-frame-cancel.photo-frame-float-left {
	margin-left: 40%
}

@media all and (max-width: 850px) {
	a.photo-frame-bar-button.photo-frame-cancel.photo-frame-float-left {
		margin-left: 38% 
	}
	a.photo-frame-bar-button.photo-frame-save.photo-frame-float-right {
		margin-right: 38% 
	}
}

@media all and (max-width: 750px) {
	a.photo-frame-bar-button.photo-frame-cancel.photo-frame-float-left {
		margin-left: 34% 
	}
	a.photo-frame-bar-button.photo-frame-save.photo-frame-float-right {
		margin-right: 34% 
	}
}

@media all and (max-width: 650px) {
	a.photo-frame-bar-button.photo-frame-cancel.photo-frame-float-left {
		margin-left: 32%; 
	}
	a.photo-frame-bar-button.photo-frame-save.photo-frame-float-right {
		margin-right: 32%; 
	}
}

@media all and (max-width: 550px) {
	a.photo-frame-bar-button.photo-frame-cancel.photo-frame-float-left {
		margin-left: 28%; 
	}
	a.photo-frame-bar-button.photo-frame-save.photo-frame-float-right {
		margin-right: 28%; 
	}
}

@media all and (max-width: 450px) {
	a.photo-frame-bar-button.photo-frame-cancel.photo-frame-float-left {
		margin-left: 25%;
	}
	a.photo-frame-bar-button.photo-frame-save.photo-frame-float-right {
		margin-right: 25%;
	}
}

.photo-frame-bar-button:active {
	box-shadow: 0 0 5px rgba(0, 0, 0, .5) inset;
	background: rgb(0,125,208);
	background: -moz-linear-gradient(top,  rgba(0,125,208,1) 0%, rgba(0,62,208,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,125,208,1)), color-stop(100%,rgba(0,62,208,1)));
	background: -webkit-linear-gradient(top,  rgba(0,125,208,1) 0%,rgba(0,62,208,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,125,208,1) 0%,rgba(0,62,208,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,125,208,1) 0%,rgba(0,62,208,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,125,208,1) 0%,rgba(0,62,208,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007dd0', endColorstr='#003ed0',GradientType=0 );
	border-top-color: rgb(20, 20, 20);
	border-bottom-color: rgb(123, 121, 123);
	color: rgb(200, 200, 200);
}

.photo-frame-sortable {
	margin: 0;
}

.photo-frame-sortable li {
    float: left;  
}

.photo-frame-sortable .ui-sortable-helper .photo-frame-photo {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}

.photo-frame-sortable .photo-frame-photo {
    cursor: move;       
}

.photo-frame-photo {
	position: relative;
	display: inline-block;
	overflow: hidden;
	float: left;
	margin: 0 1em 1em 0;
	display: inline-block;
	line-height: 1em;
}

.photo-frame-photo {
	max-width: 100%;
	height: auto;	
}

.photo-frame-photo img {
	max-width: none;
	display: block;
	width: 100%;
	height: 100%;
}

.matrix .photo-frame-photo img {
	height: auto;
}

.photo-frame-upload {
	clear: both;	
}
.photo-frame-preview { 
    width: 100%; 
    display: block;
}

.photo-frame-preview ul {
	margin: 0;	
}

.photo-frame-preview li {
	list-style: none;	
}

.photo-frame-photo:hover .photo-frame-action-bar {
	bottom: 0;
}

.photo-frame-photo:hover .photo-frame-action-bar a {
	color: rgb(230, 230, 230);	
}

.ui-sortable-helper .photo-frame-photo .photo-frame-action-bar,
.ui-sortable-helper .photo-frame-photo:hover .photo-frame-action-bar,
.photo-frame-action-bar {
	position: absolute;
	bottom: -35px;
	left: 0;
	width: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .8);
	-moz-transition: .25s;
	-webkit-transition: .25s;
	-ms-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
}
.photo-frame-action-bar a {
	padding: 6px 8px;
	font-size: 1.4em;
	display: inline-block;
	color: white;
	text-decoration: none !important;
}
.photo-frame-action-bar .photo-frame-delete {
	float: right;
	border-left: 1px solid rgb(39, 39, 39);
}
.photo-frame-action-bar .photo-frame-edit {
	float: left;
	border-right: 1px solid rgb(39, 39, 39);
}

p.photo-frame-helper,
.photo-frame-helper {
	margin: 10px 0 0 0;
	font-size: 12px;
}
.photo-frame-instructions {
	position: absolute;
	top: 1em;
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: white;
	text-shadow: 0 1px 0 black, 0 0 10px black;
}
.photo-frame-saving {
	position: absolute;
	top: 45%;
	width: 100px;
	font-size: 25px;
	color: white;
	text-shadow: 0 1px 0 black, 0 0 10px black;
	text-align: center;
}
.photo-frame-saving span {
	position: relative;
	top: 15px;
	right: 30px;
}
.photo-frame-float-right {
	float: right;
}
.photo-frame-float-left {
	float: left;
}
a.photo-frame-meta-toggle {
	position: fixed;
	top: 15px;
	right: 15px;
	color: white;
	font-size: 24px;
	text-shadow: 0 0 1px black, 0 0 10px rgba(0, 0, 0, .7);
	width: 1em;
	height: 1em;
	z-index: 100;
	display: none;
}
a.photo-frame-meta-toggle.active,  a.photo-frame-meta-toggle:hover {
	color: rgb(47, 143, 216);
}

.photo-frame-wrapper {
	text-align: left;
	position: relative;
}

.photo-frame-wrapper .clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.photo-frame-wrapper .clearfix {
	display: block;
}
.photo-frame-wrapper html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}


.photo-frame-button {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); 
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #dcdcdc;
	display: inline-block;
	color:#777777 !important;
	font-size: 14px;
	font-weight:normal;
	padding:8px 11px;
	text-decoration: none !important;
	text-shadow:1px 1px 0px #ffffff;
	text-align: center;
	font-family: Helvetica;
	cursor: pointer;
	line-height: 1em;
	margin: 0;
	text-decoration: none;
}
.photo-frame-button:hover {
	color: #55B092;
	color: #fff
}

.photo-frame-button:focus {
	-webkit-box-shadow: 0 0 4px #78c0a8, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 0 4px #78c0a8, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 0 4px #78c0a8, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	color: white;
}

.photo-frame-button span {
	margin: 1px 2px 0 0;
}

.photo-frame-button:active {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );; */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');; */
	background-color:#dfdfdf;
}

/*
.photo-frame-button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none !important;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	background-color: #78C0A8;
	padding: 2px 15px 7px 5px;
	color: white;
	margin: .5em;
	cursor: pointer;
	text-decoration: none;
	text-shadow: none;
}
.photo-frame-button:active {
	background-color: #78C0A8;
}
.photo-frame-button:hover {
	color: #55B092;
	color: #fff
}


/*

.photo-frame-placeholder {

	border: 3px dashed rgb(86, 88, 89);

	font-size: 18px;

	text-shadow: 0 1px 0 white;

	padding: .5em 0 .75em;

	line-height: .5em;

	position: relative;

}



.photo-frame-placeholder p {

	position: absolute;

	top: 45%;

	width: 100%;

	display: block;

	text-align: center;

	padding: 0;

	margin: 0;

}
